* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    /* Adding browser prefixes */
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.mb-5{
    margin-bottom: 1em;
}
/* Styling for pop up 1 */
a.button{
    
	font-size: 13px;
	padding: 5px 10px;
	border: 1px solid #aaa;
	background-color: #eee;
	background-image: linear-gradient(top, #fff, #f0f0f0);
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.15);
	color: #666;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	cursor: pointer;
	transition: all 0.2s ease-out;
}
.overlay{
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background: rgba(0, 0, 0, .6);
    transition: opacity 200ms;
    display: none;
	opacity: 1;
}

.popup1{
    width: 500px;
    height: 200px;
    background: white;
    position: relative;
    color: black;
    margin: auto;
    margin-top: 2em;
    padding: 1em;
}
.popup1 a{
    color: black;
}

.overlay2{
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background: rgba(166, 166, 166, 0.6);
    display: flex;
    transition: opacity 200ms;
    visibility: hidden;
	opacity: 1;
}

.popup2{
    width: 300px;
    height: 200px;
    background: white;
    position: relative;
    color: black;
    margin: auto;
    padding: 1em;
}
.popup1 a{
    color: black;
}

/* Styling for password Reset here */
body#p-body{
    padding: 0;
    margin: 0;
}
.p-header{
    width: 100%;
    min-height: 30px;
    box-shadow: 0 0 3px #aaa;
    border-bottom: 0 solid rgba(0,0,0,0.25);
    padding: 10px;
}
.p-header nav{
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
}
.p-header nav.logo img{
    border-radius: 50%;
}

.p-header nav .lang,.lang{
    display: flex;
}
.p-header nav .lang span{
    margin: auto;
}
.mr{
    margin-right: .5em;
}
.reset-password{
    height: 80vh;
    width: 100%;
}
.reset-password form{
    padding: 36px 0;
    max-width: 450px;
    margin: auto;
}
.reset-password form input{
    display: block;
    width: fit-content;
    border-radius: 18px;
    padding: 7px 15px 5px;
    line-height: 20px;
    border: 1px solid#ccd6dd;
    outline: 0;
    font-size: 16px;
    margin: 5px 10px 5px 0;
}
.reset-password button.btn-primary{
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 100px;
    box-shadow: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    margin-top: 20px;
    background: #0000FF;
    font-size: 15px;
}



/* End of Password reset styling */

