* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    /* Adding browser prefixes */
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
/* Styling for pop up 1 */

